* {
   font-family: Roboto, sans-serif;
}

header {
   background-color: #212121;
   padding: 19px 0 21px 0;
}

#menu {
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
   padding: 0 71px;
   margin: 0;
   font-weight: 300;
   font-size: 15px;
   line-height: 15px;
}

a {
   text-decoration: none;
   color: #FFFFFF;
}

.devider {
   height: 31px;
   width: 1px;
   background-color: rgba(0, 0, 0, 0.001);
   border: 1px dashed #000000;
   mix-blend-mode: soft-light;
}

/*---------------------------------------------*/


/*Beginning of the "introduce" block*/
.introduce {
   background: url(../img/bg/uber_bg.png) center center/cover no-repeat;
   padding-bottom: 186px;
}

#intro_header {
   background-color: rgba(0, 0, 0, 0.6);
   padding: 19px 0 23px 0;
}

.max_size {
   max-width: 100%;
}

.logo_text {
   display: block;
   color: #FFFFFF;
   font-size: 13px;
}

#for_call {
   display: inline-block;
   color: #FFFFFF;
   width: 182px;
   font-weight: 300;
   font-size: 12px;
   text-align: right;
}

#number_call {
   font-weight: 400;
   font-size: 22px;
}

#intro_header button {
   width: 172px;
   height: 46px;
   /*display: block;*/
   background-image: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
   box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
   text-transform: uppercase;

   color: #FFFFFF;
   font-weight: 400;
   font-size: 14px;
}

/*.intro_head_text {
   color: #FFFFFF;
   text-align: center;
   padding-top: 66px;
}*/

#h1_header {
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-weight: 900;
   font-size: 60px;
   line-height: 60px;
   margin-top: 66px;
   margin-bottom: 0;
}

#h2_subheader {
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 36px;
   line-height: 36px;
   margin: 0;
   margin-top: 22px;
}

.intro_text {
   color: #FFFFFF;
   text-align: center;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   margin-top: 28px;
}

#request_button {
   text-align: center;
}

.introduce #request_button button {
   color: #FFFFFF;
   background-image: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
   box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
   width: 259px;
   height: 63px;
   border-radius: 4px;
   margin-top: 118px;
}
/*---------------------------------------------*/


/*Beginning of the "reasons_to_start" block*/
#reasons_to_start {
   padding-top: 18px;
   padding-bottom: 64px;
}

#advantage_wrapper {
   background-color: #000000;
   margin: 0 auto;
   width: 115px;
   height: 27px;
   text-align: center;
}

#advantage_wrapper span {
   color: #FFFFFF;
   text-transform: uppercase;
   line-height: 11px;
   font-size: 11px;
   font-weight: 400;
}

#reasons_to_start h2 {
   text-align: center;
   font-weight: 700;
   font-size: 38px;
   margin-top: 32px;
   margin-bottom: 0;
   text-transform: uppercase;
}

/*.reason_wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}*/

.reason {
   /*display: flex;*/
   /*align-items: center;*/
   margin: 26px auto 0 auto;
}

.reason_img {
   width: 116px;
   height: 116px;
   background-color: #1EACC7;
   border-radius: 50%;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   margin-right: 25px;
}

.reason_txt span {
   color: #1EACC7;
   font-size: 17px;
   font-weight: 400;
}

.reason_txt {
   display: inline-block;
   /*max-width: 371px;*/
   /*max-height: 151px;*/
   font-size: 15px;
   font-weight: 300;
}