* { font-family: Roboto, sans-serif; }

.strong_side { height: 27px; width: 115px; margin: 0 auto; padding: 6px 11px; background-color: #000000; text-align: center; color: #FFFFFF; text-transform: uppercase; font-size: 11px; font-weight: 400; }

.sub_strong_side { text-align: center; font-weight: 700; font-size: 38px; margin-top: 32px; margin-bottom: 0; text-transform: uppercase; }

.description { color: #222222; font-weight: 400; font-size: 17px; text-align: center; }

header { background-color: #212121; padding: 19px 0 21px 0; position: fixed; width: 100%; z-index: 2; }

#menu { display: flex; justify-content: space-around; align-items: center; list-style: none; padding: 0 71px; margin: 0; font-weight: 300; font-size: 15px; line-height: 15px; transition: 0.5s all; }

#menu li::after { content: ""; display: block; height: 2px; width: 0%; background-color: #fff; transition: easy-out, all, 0.5s; margin: 0 auto; }

#menu li:hover::after { width: 100%; }

a { text-decoration: none; color: #FFFFFF; }

a:hover { color: #fff; }

.devider { height: 31px; width: 1px; background-color: rgba(0, 0, 0, 0.001); border: 1px dashed #000000; mix-blend-mode: soft-light; }

.introduce { background: url("../img/bg/uber_bg.png") center center/cover no-repeat; padding-bottom: 186px; padding-top: 71px; }

#intro_header { background-color: rgba(0, 0, 0, 0.6); padding: 19px 0 23px 0; }

.max_size { display: inline-block; max-width: 100%; }

.logo_text { color: #FFFFFF; font-size: 13px; }

#for_call { display: inline-block; color: #FFFFFF; width: 182px; font-weight: 300; font-size: 12px; text-align: right; }

#number_call { font-weight: 400; font-size: 22px; }

#intro_header #order_button { width: 172px; height: 46px; background-image: linear-gradient(0deg, #1eacc7 0%, #4CE2FF 100%); box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12); border-radius: 4px; text-transform: uppercase; color: #FFFFFF; font-weight: 400; font-size: 14px; }

#h1_header { color: #FFFFFF; text-align: center; text-transform: uppercase; font-weight: 900; font-size: 60px; line-height: 60px; margin-top: 66px; margin-bottom: 0; }

#h2_subheader { color: #FFFFFF; text-align: center; text-transform: uppercase; font-weight: 700; font-size: 36px; line-height: 36px; margin: 0; margin-top: 22px; }

.intro_text { color: #FFFFFF; text-align: center; font-weight: 400; font-size: 18px; line-height: 24px; margin-top: 28px; }

#request_button { text-align: center; }

.introduce #request_button button { color: #FFFFFF; background-image: linear-gradient(0deg, #1eacc7 0%, #4CE2FF 100%); box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12); width: 259px; height: 63px; border-radius: 4px; margin-top: 118px; }

#reasons_to_start { padding-top: 18px; padding-bottom: 64px; }

.reason { display: flex; align-items: center; justify-content: center; margin: 26px auto 0 auto; }

.reason_img { position: relative; width: 116px; height: 116px; background-color: #1eacc7; border-radius: 50%; margin-right: 25px; }

.reason_img img { position: absolute; display: block; left: 50%; top: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }

.reason_txt { max-width: 55%; font-size: 15px; font-weight: 300; }

.reason_txt span { color: #1eacc7; font-size: 17px; font-weight: 400; }

.mobile_app { padding: 48px 0 61px 0; background: url("../img/bg/mobile_bg.png") center center/cover no-repeat; }

.mobile_app .row { margin-top: 30px; }

.mobile_app_wrapper { position: relative; width: 320px; height: 280px; margin: 0 auto; margin-bottom: 19px; }

.mobile_app_wrapper_1 { background: url("../img/do_order.png") center center/cover no-repeat; }

.mobile_app_wrapper_2 { background: url("../img/safe_supply.png") center center/cover no-repeat; }

.mobile_app_wrapper_3 { background: url("../img/clear_prices.png") center center/cover no-repeat; }

.mobile_app_wrapper_4 { background: url("../img/by_card.png") center center/cover no-repeat; }

.mobile_app_wrapper_5 { background: url("../img/callback.png") center center/cover no-repeat; }

.mobile_app_wrapper_6 { background: url("../img/share_bill.png") center center/cover no-repeat; }

.mobile_app_wrapper_text { color: #FFFFFF; font-weight: 400; font-size: 24px; text-align: center; text-transform: uppercase; padding-top: 88.5px; }

.mobile_app_wrapper_plus { display: flex; justify-content: center; align-items: center; position: absolute; bottom: 34px; left: 145px; width: 29px; height: 29px; background-color: #000; border-radius: 100%; }

.mobile_app_wrapper_plus img { width: 60%; }

.good_choice { background: url("../img/bg/choice_bg.png") bottom center repeat-x; background-color: #070716; padding-top: 57px; padding-bottom: 137.5px; }

.good_choice .strong_side { background-color: #FFFFFF; color: #070716; }

.good_choice .sub_strong_side { color: #FFFFFF; }

.good_choice .description { color: #FFFFFF; }

.good_choice_img { position: relative; display: block; margin: 54px auto 0 auto; z-index: 1; }

.good_choice_txt { color: #222222; text-align: center; width: 327px; margin: 0 auto; font-weight: 300; font-size: 17px; }

.condition { padding: 68px 0 87px 0; }

.condition .sub_strong_side { margin-bottom: 33px; }

.condition_blue-title { color: #1eacc7; font-weight: 400; font-size: 22px; line-height: 24px; margin-bottom: 16px; }

.condition_item-blue { display: flex; align-items: flex-start; font-weight: 300; font-size: 17px; }

.condition_item-blue p { margin: 0; display: inline; }

.condition_item-blue:nth-child(1n+2) { margin-top: 9px; }

.condition_item-blue::before { content: ""; display: inline-block; background-image: url(../img/check_blue_icon.png); background-position: center center; background-size: contain; background-repeat: no-repeat; height: 20px; width: 21px; margin-left: 18px; margin-right: 10px; }

.condition_txt { margin-top: 25px; font-weight: 300; font-size: 17px; color: #1eacc7; }

.condition_txt p { margin-bottom: 0; }

.condition_red-title { color: #FF5656; font-weight: 400; font-size: 22px; line-height: 24px; margin-top: 61px; margin-bottom: 16px; }

.condition_item-red { display: flex; align-items: flex-start; font-weight: 300; font-size: 17px; }

.condition_item-red p { margin: 0; display: inline; }

.condition_item-red:nth-child(1n+2) { margin-top: 9px; }

.condition_item-red::before { content: ""; display: inline-block; background-image: url(../img/check_red_icon.png) center center/contain no-repeat; max-height: 20px; max-width: 21px; margin-left: 18px; margin-right: 10px; }

.worldwide { background: url(../img/bg/world_bg.png) center center/cover no-repeat; padding-top: 46px; padding-bottom: 50px; }

.worldwide .strong_side { background-color: #fff; color: #070716; width: 79px; height: 27px; }

.worldwide .sub_strong_side { color: #fff; }

.worldwide .description { color: #fff; }

.worldwide p { display: block; max-width: 200px; text-transform: uppercase; font-weight: 400; font-size: 15px; line-height: 16px; margin: 0 auto; margin-top: 484px; }

.worldwide p a { color: #1eacc7; }

.worldwide p a::after { content: ""; display: block; height: 2px; width: 0%; background-color: #1eacc7; transition: easy-out, all, 0.5s; margin: 0 auto; }

.worldwide p a:hover::after { width: 100%; }

footer { padding-top: 14px; padding-bottom: 54px; position: relative; }

footer .social { display: flex; position: absolute; left: 23px; top: 48px; }

footer .social .social_item { display: flex; justify-content: center; align-items: center; width: 35px; height: 35px; border-radius: 100%; background-color: #070716; }

footer .social .social_item:nth-child(1n+1) { margin-right: 6px; }

footer .social .social_item i { color: #fff; }

footer .download { display: flex; position: absolute; right: 23px; top: 48px; }

footer .apple { background: url(../img/social/app-store-google-play.png) top center/cover no-repeat; border-radius: 5px; height: 27px; width: 95px; margin-right: 7px; }

footer .google { background: url(../img/social/app-store-google-play.png) bottom center/cover no-repeat; border-radius: 5px; height: 27px; width: 95px; margin-right: 7px; }

footer .windows { background: url(../img/social/windows_store.png) center center/contain no-repeat; border-radius: 5px; height: 27px; width: 95px; }

footer .devider { height: 4px; width: 299px; background-color: #1eacc7; margin: 0 auto; mix-blend-mode: normal; border: none; }

footer .menu-upper { display: flex; justify-content: center; list-style-type: none; margin: 0; padding: 0; margin-top: 29px; text-transform: uppercase; }

footer .menu-upper li { font-weight: 300; font-size: 15px; line-height: 16px; text-align: center; }

footer .menu-upper li a { color: #070716; }

footer .menu-upper li a::after { content: ""; display: block; height: 2px; width: 0%; transition: easy-out, all, 0.5s; background-color: #070716; margin: 0 auto; }

footer .menu-upper li a:hover::after { width: 100%; }

footer .menu-upper li:nth-child(2n) { padding-left: 45px; padding-right: 45px; }

footer .menu { display: flex; justify-content: center; list-style: none; margin: 0; padding: 0; margin-top: 29px; text-transform: uppercase; }

footer .menu li { font-weight: 300; font-size: 11px; line-height: 12px; text-align: center; }

footer .menu li a { color: #999999; }

footer .menu li a::after { content: ""; display: block; height: 2px; width: 0%; transition: easy-out, all, 0.5s; background-color: #999999; margin: 0 auto; }

footer .menu li a:hover::after { width: 100%; }

footer .menu li:nth-child(2n) { padding-left: 21px; padding-right: 21px; }

footer .lang { margin-top: 17px; text-align: center; }

footer .lang p { margin: 0; text-transform: uppercase; color: #1eacc7; font-weight: 400; font-size: 11px; }

@media screen and (max-width: 415px) { .reason { flex-wrap: wrap; } .reason_img { width: 103px; height: 103px; } .reason_txt { max-width: 95%; } }
/*# sourceMappingURL=style.css.map */